@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=PT+Sans+Narrow:wght@700&display=swap');

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
}

button {
  font-family: 'Noto Sans KR', sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
